{% extends "layout.html" %} {% block body %}

<h2>Users</h2>
<div class="container" style="width: 80%">
    <div class="d-flex justify-content-center">
        <form class="w-100 me-3" role="search" action="/users/search">
            <input name="username" type="search" class="form-control mb-2" placeholder="Search..."
            value={{ request.values.get("username") or "" }}>
            <input type="submit"class="btn btn-primary">
        </form>
    </div>

{% if user is defined and user != None %}

<div class="row row-cols-2 row g-2">
    <div class="col">
        <p class="lead mb-4">
        User login: {{ user['login']}}
        </p>
        <p class="lead mb-4">
        User name: {{ user['name']}}
        </p>
        <p class="lead mb-4">
        Favourite languages: 
        {% for l in lang %}
        {% if l != lang[0] %}
        |
        {% endif %}
        {{ l['name'] }}
        {% endfor %}
        </p>
        <p class="lead mb-4">
        Company: {{ user['company']}}
        </p>
        <p class="lead mb-4">
        Biography: {{ user['bio']}}
        </p>
    </div>
    <div class="col">
    <img class="img-thumbnail" style="width: 200px" src="{{ user['avatar_url'] }}">
    </div>  
</div>
<div class="row row-cols-1 row g-2">
    <div class="col">
        <p class="lead mb-4">
            <h3>Repositories:</h3>
        </p>
            <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                
                    {% for repo in user['repos'] %}
                    <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                        <a href="/repos/{{repo['owner']['login']}}/{{repo['name']}}" class="icon-link d-inline-flex align-items-center">
                        {{repo['name']}}
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    <span class="d-block small opacity-50">Language: {{repo['language']}}, Watchers: {{repo['watchers']}}</span>
                    </label>
                    {% endfor %}
            </div>  
        </p>
    </div>
</div>

{% endif %}
</div>
<br>
<p></p>
{% endblock %}
